.customos
{
    position: relative;
}

.customos button
{
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: black;
    color: white;
}
.carousel-item
{
    filter: 50%;
}
.headd
{
   position: absolute;
 top: 500px;
   left: 500px;
   color: white;
  
   
}